$footer_bg:(
    footer_index: #000000, 
    footer_about: #000000,
    footer_op_faq: #000000, 
    footer_op_os: #000000,
    footer_op_support: #000000,
);
$index_buttons:(
    hardware_topic: $main_color, 
    software_topic: $second_color
);