@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Tai+Heritage+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Gothic A1", sans-serif;
}
/* NAVBAR */
nav{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.search{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #bbbbbb00;
    height: -10%;
    text-indent: 10px;
    margin-right: auto;
    transition: all 0.3s ease 0s;
}
.search_button{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #14213D;
    color: #ffffff;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}
.search_button:hover{
    background-color: #FCA311;
    border: 1px solid rgba(0, 0, 0, 0);
}
.navbar-nav > *{ 
    margin-left: 10px;
    margin-top: 5px;
}
.search_container{
    margin: 5px;
}

.nav-link{
    transition: all 0.5s ease 0s;
    border: 0.5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
}
.nav-link:hover{
    border: 0.5px solid #FCA311;
    border-radius: 50px;
    background-color: #FCA311;
    
}



.l_button{
    border: none;
    background-color: #FCA311;
    color: #000000;
    border-radius: 50px;;
    transition: all 0.3s ease 0s;
    margin-top: 2px;
}

.l_button:hover{
    background-color: rgba(252,163,17, 0.8);
    color: #000000;
}


.s_button{
    border: none;
    background-color: #14213D;
    color: #ffffff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin-top: 2px;
}

.s_button:hover{
    background-color: rgba(20,33,61, 0.8);
    color: #ffffff;
}

/* HEADER */
#masthead{
    /* height: 611px; */
    background-color: #14213D;
    display: flex;
    justify-content: center;
    align-items: center;
}
#masthead_form_container{
    /* height: 611px; */
    background-color: white;
}
.grid_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.grid_title .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title, #the,#vervetech, #company{
    width: 349px;
    height: 264px;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-size: 43px;
    line-height: 60px;
    letter-spacing: 0.445em;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px #000000;
}
.title #vervetech{
    color: #FCA311;
    font-weight: bold;
}





#masthead_form_container{
    background-image: url(../media/30.jpg);
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index_form_title{
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #FCA311;
    text-align: center;

}

#form_username{
    width: 232px;
    height: 35px;
    text-align: center;
    background: #D9D9D9;
    border-radius: 23px;
    border: 0;
    margin-top: 5px;
}

#form_password{
    width: 232px;
    height: 35px;
    text-align: center;
    background: #D9D9D9;
    border-radius: 23px;
    border: 0;
    margin-top: 5px;
}

#form_login{
    width: 105px;
    height: 35px;
    background: #14213D;
    border-radius: 218px;
    border: 0;
    color:#FFFFFF;
    margin-top: 10px;
}

#form_register{
    text-decoration: none;
    color: #FCA311;
}


/* MAIN 1 */
.img_container{
    background-color: #D9D9D9;
    height: 100%;
    width: 100%;
    background-image: url('../media/christopher-gower-m_HRfLhgABo-unsplash (1).jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.aside_main_content h2 sup1{
    font-weight: bolder;
    color: #FCA311;
}
.aside_main_content{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.445em;
    font-family: "Gothic A1", sans-serif;
    height: 100%;
}

.main_subtitle{
    margin-top: 50px;
}

.main_buttons{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.main_buttons, .hardware_topic a{
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.445em;
}
.main_buttons, .software_topic a{
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.445em;
}

.hardware_topic{
    margin-right: 25px;
    text-decoration: none;
    display: inline-flex;
    height: 80px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: #14213D;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.software_topic{
    margin-left: 25px;
    text-decoration: none;
    display: inline-flex;
    height: 80px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: #FCA311;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* MAIN 2 */
.main_2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h_product_1{
    background-image: url('../media/martin-katler-7wCxlBfGMdk-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.h_product_2{
    background-image: url('../media/olivier-collet-hLXTRAMuvBY-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.h_product_3{
    background-image: url('../media/slejven-djurakovic-0uXzoEzYZ4I-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.h_product_4{
    background-image: url('../media/denny-muller-QZNi-ISiafg-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.h_product_5{
    background-image: url('../media/syed-ali-Sdn4xM5TsIo-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

.h_product_6{
    background-image: url('../media/daniel-korpai-8GDCzWrcE3M-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}



/* MAIN 3 */
.main_3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_product_1{
    background-image: url('../media/martin-katler-7wCxlBfGMdk-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.s_product_2{
    background-image: url('../media/olivier-collet-hLXTRAMuvBY-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.s_product_3{
    background-image: url('../media/slejven-djurakovic-0uXzoEzYZ4I-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.s_product_4{
    background-image: url('../media/denny-muller-QZNi-ISiafg-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.s_product_5{
    background-image: url('../media/syed-ali-Sdn4xM5TsIo-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

.s_product_6{
    background-image: url('../media/daniel-korpai-8GDCzWrcE3M-unsplash.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

/* index FOOTER */
.footer_index{

    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
.footer_index h1{
    margin-left: 50px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;

    color: #FCA311;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer_index p{
    margin-left: 50px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;

    color: #FFFFFF;
}
/* ABOUT HTML */
.about_gl{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(3, auto);
}
.masthead_about{
    grid-column: 1/10;
    height: 611px;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/about_background.jpg") no-repeat center center fixed;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    font-family: "Gothic A1", sans-serif;
}
.about_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.about_card_1, .about_card_2, .about_card_3, .about_card_4, .about_card_5, .about_card_6{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about_first_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 992px){
    .masthead_about{
        height: 1370px;
    }

    .about_first_row{
        margin-bottom: -20px;
    }
    .about_first_row > *{
        margin-bottom: 20px;
    }
    .about_second_row{
        margin-top: 20px;
    }
    .about_second_row > *{
        margin-bottom: 20px;
    }
}
.footer_about{
    grid-column: 1/10;
    width: 100%;
    height: 287px;

    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
.footer_about h1{
    margin-left: 15px;
    width: 229px;
    height: 80px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;

    color: #FCA311;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer_about p{
    margin-left: 15px;
    width: 264px;
    height: 25px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;

    color: #FFFFFF;
}



/* FOOTER */
.footer{
    position: absolute;
    width: 100%;
    height: 287px;
    left: 0px;
    top: 2591px;

    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
.footer h1{
    position: absolute;
    width: 229px;
    height: 80px;
    left: 63px;
    top: 22px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;

    color: #FCA311;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer p{
    position: absolute;
    width: 264px;
    height: 25px;
    left: 62px;
    top: 119px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;

    color: #FFFFFF;
}
/* OUR STAFF HTML */
.os_header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #14213D 28.77%, #36569C 100%);
    height: 611px;
}
.card1, .card2, .card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.od_img{
    background-image: url('../media/meeting-of-developers.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    height: 225px;
}
.osd_img{
    background: url('../media/software\ develp.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    height: 225px;
}
.os_img{
    background: url('../media/service.jpg');
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    height: 225px;
}

.footer_op_os{
    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
.footer_op_os h1{
    width: 229px;
    height: 80px;
    left: 63px;
    top: 22px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;
    color: #FCA311;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer_op_os p{
    width: 264px;
    height: 25px;
    left: 62px;
    top: 119px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;

    color: #FFFFFF;
}

@media screen and (max-width: 991px){
    .os_header{
        height: 1300px;
    }
}





/* SUPPORT */
.support_gl{
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: repeat(3, auto);
    background-color: #00000000;
}
.masthead_support{
    grid-column: 1/9;
    grid-row: 100%;
    background: linear-gradient(90deg, #36569C 28.77%, #14213D 100%);
    height: 611px;
    display: flex;
    justify-content: center;
    align-items: center;


    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/john-schnobrich-FlPc9_VocJ4-unsplash (2).jpg") no-repeat center center fixed;

    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

.footer_op_support{
    grid-column: 1/9;
}
.contact_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 25%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div_contact_form{
    margin: 15px;
}
.support_form_button{
    background-color: #FCA311;
    border-color: rgba(5, 5, 5, 0.151);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease 0s;
}
.support_form_button:hover{
    background-color: #14213D;
}

/* .div_contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contact_form{
    display: flex;
    flex-direction: column;
    width: 404px;
    height: 396px;
    background: #FFFFFF;
    border-radius: 7px 7px 0px 0px;
}
.contact_logo{
    width: 404px;
    height: 155px;
    left: 750px;
    top: 0px;

    background: #14213D;
    border-radius: 5px 5px 0px 0px;
}
.contact_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 68px;
    left: 750px;
    top: 390px;

    background: #FCA311;
}
.contact_button a{
    width: 309px;
    height: 23px;
    left: 50px;
    top: 20px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.07em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#contact_form_name{
    width: 344px;
    height: 57px;
    left: 25px;
    top: 180px;
    font-size: 26px;
    text-indent: 15px;
    background: #D9D9D9;
    border-radius: 3px;
    border: none;
}
#contact_form_mail{
    width: 344px;
    height: 57px;
    left: 25px;
    top: 260px;
    font-size: 26px;
    text-indent: 15px;
    background: #D9D9D9;
    border-radius: 3px;
    border: none;
}
.form_inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* footer ya hecho */


.footer_op_support{
    width: 100%;
    height: 287px;

    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
.footer_op_support > *{
    padding-top: 20px;
    padding-left: 20px;
}
.footer_op_support h1{
    width: 229px;
    height: 80px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;

    color: #FCA311;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer_op_support p{
    width: 264px;
    height: 25px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;

    color: #FFFFFF;
}

/* MEDIA QUERY DE SUPPORT */
@media screen and (max-width:1162px){
    .support_navbar{
        grid-column: 1/9;
        grid-row: 1/1;
    }
    .masthead_support{
        grid-column: 1/9;
        grid-row: 2/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        height: 667px;

        background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/john-schnobrich-FlPc9_VocJ4-unsplash (2).jpg") no-repeat center center fixed;

        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        z-index: auto;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
    }
    .contact_main{
        margin-top: 10%;
        height: 75%;
        width: 55%;
    }
    .contact_img{
        display: none;
    }
    .footer_op_support{
        grid-column: 1/9;
        grid-row: 3/3;
        height: 200%;

    }
    
    
}



@media screen and (max-width: 900px){
    .support_navbar{
        grid-column: 1/9;
        grid-row: 1/1;
    }
    .masthead_support{
        grid-column: 1/9;
        grid-row: 1/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;

        background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/john-schnobrich-FlPc9_VocJ4-unsplash (2).jpg") no-repeat center center fixed;
    }
    .contact_main{
        height: 65%;
    }
    .footer_op_support{
        grid-column: 1/9;
        grid-row: 5/8;
    }
}



/* FOOTER one page*/
.footer_op{
    position: absolute;
    width: 100%;
    height: 287px;
    left: 0px;
    top: 720px;
    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
.footer_op h1{
    position: absolute;
    width: 229px;
    height: 80px;
    left: 63px;
    top: 22px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;
    color: #FCA311;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer_op p{
    position: absolute;
    width: 264px;
    height: 25px;
    left: 62px;
    top: 119px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
}
/* FAQ html */
.masthead_faq{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 611px;
    width: 100%;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/faq_background.jpg") no-repeat center center fixed;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    font-family: "Gothic A1", sans-serif;
}
.faq_content{
    width: 70%;
}
.faq_content > *{
    margin: 15px;
}
.footer_op_faq{
    width: 100%;
    height: 287px;
    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
    z-index: 1;
}
.navbar-collapse, .question_1, .question_2, .question_3, .question_4, .question_5, .question_6{
    transition: all 0.5s ease 0s;
}
.footer_op_faq h1{
    margin-left: 15px;
    width: 229px;
    height: 80px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;
    color: #FCA311;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer_op_faq p{
    margin-left: 15px;
    width: 264px;
    height: 25px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
}


@media screen and (max-width: 991px){
    .masthead_faq{
        height: 890px;
    }
    .faq_content{
        width: 70%;
        margin-top: -100px;
    }
}


/* @media screen and (max-width: 813px){
    .masthead_faq{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/faq_background.jpg") no-repeat center center fixed;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        z-index: auto;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        font-family: "Gothic A1", sans-serif;
        width: 100%;
        height: 667px;
        padding-top: 80px;
    }
    .faq_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .faq_content a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;
        height: 80px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: #FFFFFF;
        text-decoration: none;
        text-align: center;
    }
    .cards_text{
        font-size: 12px;
    }
} */
