@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import "variables";
@import "colors";
@import "fonts";
@import "maps";
@import "mixins";

*{
    padding: 0;
    margin: 0;
    font-family: $gothic;
}
/* NAVBAR */
nav{
    box-shadow: $box_shadow;
    .search{
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        background-color: #bbbbbb00;
        height: -10%;
        text-indent: 10px;
        margin-right: auto;
        transition: all 0.3s ease 0s;
    }
    .search_button{
        border: 1px solid rgba(0, 0, 0, 0.5);
        background-color: $main_color;
        color: #ffffff;
        border-radius: 50px;
        transition: all 0.5s ease 0s;
    }
    .search_button:hover{
        background-color: $second_color;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .navbar-nav > *{ 
        margin-left: 10px;
        margin-top: 5px;
    }
    .search_container{
        margin: 5px;
    }
    .nav-link{
        transition: all 0.5s ease 0s;
        border: 0.5px solid rgba(0, 0, 0, 0);
        border-radius: 50px;
    }
    .nav-link:hover{
        border: 0.5px solid $second_color;
        border-radius: 50px;
        background-color: $second_color;
        
    }
    .nav-link:active{
        background-color: #ffdca3;
        border: 0.5px solid #ffdca3;
    }
    .l_button{
        border: none;
        background-color: $second_color;
        color: #000000;
        border-radius: 50px;;
        transition: all 0.3s ease 0s;
        margin-top: 2px;
    }
    .l_button:hover{
        background-color: rgba(252,163,17, 0.8);
        color: #000000;
    }
    .l_button:active{
        background-color: #ffdca3;
    }
    .s_button{
        border: none;
        background-color: $main_color;
        color: #ffffff;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        margin-top: 2px;
    }
    .s_button a{
        color: #FFFFFF;
        text-decoration: none;
    }
    .s_button:hover{
        background-color: rgba(20,33,61, 0.8);
        color: #ffffff;
    }
    .s_button:active{
        background-color: #224591;
    }
    .shopping_cart{
        height: 40px;
        .shopping_cart_a{
            height: 40px;
            width: 50px;
        }
    }
}
/* HEADER */
#masthead{
    /* height: 611px; */
    background-color: $main_color;
    display: flex;
    justify-content: center;
    align-items: center;
}
#masthead_form_container{
    /* height: 611px; */
    background-color: white;
}
.grid_title{
    @include flex-column-center-center;
}
.grid_title .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title, #the,#vervetech, #company{
    width: 349px;
    height: 264px;
    font-family: $gothic;
    font-style: normal;
    font-size: 43px;
    line-height: 60px;
    letter-spacing: 0.445em;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px #000000;
}
.title #vervetech{
    color: $second_color;
    font-weight: bold;
}
#masthead_form_container{
    background-image: url(../media/30.jpg);
    @include img_config(scroll);
    @include flex-column-center-center;
    text-align: center;
}
.form{
    @include flex-column-center-center;
}
#index_form_title{
    font-family: $gothic;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: $second_color;
    text-align: center;

}
#form_username{
    width: 232px;
    height: 35px;
    text-align: center;
    background: #D9D9D9;
    border-radius: 23px;
    border: 0;
    margin-top: 5px;
}
#form_password{
    width: 232px;
    height: 35px;
    text-align: center;
    background: #D9D9D9;
    border-radius: 23px;
    border: 0;
    margin-top: 5px;
}
#form_login{
    width: 105px;
    height: 35px;
    background: $main_color;
    border-radius: 218px;
    border: 0;
    color:#FFFFFF;
    margin-top: 10px;
    transition: all 0.3s ease 0s;
}
#login_link{
    text-decoration: none;
    color: #000000;
}
#form_login:hover{
    background: $second_color;
}
#form_login:active{
    background: #ffdca3;
}
#form_register{
    text-decoration: none;
    color: $second_color;
    transition: all 0.3s ease 0s
}
#form_register:hover{
    color: $main_color;
}
#form_register:active{
    color: #ff0800;
    border-radius: 50px;
}
/* MAIN 1 */
.img_container{
    background-color: #D9D9D9;
    height: 100%;
    width: 100%;
    background-image: url('../media/christopher-gower-m_HRfLhgABo-unsplash (1).jpg');
    @include img_config(scroll);
}
.aside_main_content h2 sup1{
    font-weight: bolder;
    color: $second_color;
}
.aside_main_content{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.445em;
    font-family: $gothic;
    height: 100%;
}
.main_subtitle{
    margin-top: 50px;
}
.main_buttons{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.main_buttons, .hardware_topic a{
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.445em;
}
.main_buttons, .software_topic a{
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.445em;
}
@each $ibutton, $button_color in $index_buttons{
    .#{$ibutton}{
        background-color: $button_color;
    }
}
.hardware_topic{
    margin-right: 25px;
    text-decoration: none;
    display: inline-flex;
    height: 80px;
    width: 200px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: $box_shadow;
    font-size: 22px;
    font-family: $gothic;
    font-weight: bolder;
    transition: all 0.3s ease 0s;
}
.hardware_topic:hover{
    background-color: #1f3564;
}
.hardware_topic:active{
    background-color: #155a7a;
}
.software_topic{
    margin-left: 25px;
    text-decoration: none;
    display: inline-flex;
    height: 80px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    box-shadow: $box_shadow;
    font-size: 22px;
    font-family: $gothic;
    font-weight: bolder;
    transition: all 0.3s ease 0s;
}
.software_topic:hover{
    background-color: #fdc66d;
}
.software_topic:active{
    background-color: #b16d00;
}
/* FOOTERS */
@each $footer, $bg_color in $footer_bg{
    .#{$footer}{
        background-color: $bg_color;
        .container{
            .row1{
                height: 300px;
                .index_footer_title{
                    h1 {
                        margin-top: 10px;
                        color: white;
                        font-family: $gothic;
                        text-decoration: underline;
                        text-decoration-thickness: 2px;
                        letter-spacing: 5px;
                    }
                } 
                .index_footer_list{
                    ul {
                        li {
                            list-style: none;
                            a {
                                text-decoration: none;
                                color: white;
                                font-size: large;
                                letter-spacing: 2px;
                                transition: $transition_02s;
                                &:hover{
                                    text-decoration: underline;
                                    text-decoration-color: white;
                                }
                                &:active{
                                    color: darkviolet;
                                    text-decoration-color: darkviolet;
                                }
                            }
                        }
                    }
                }
                .index_footer_info{
                    ul {
                        li {
                            list-style: none;
                            a {
                                text-decoration: none;
                                color: white;
                                font-size: large;
                                letter-spacing: 2px;
                                transition: $transition_02s;
                                &:hover{
                                    text-decoration: underline;
                                    text-decoration-color: white;
                                }
                                &:active{
                                    color: darkviolet;
                                    text-decoration-color: darkviolet;
                                }
                            }
                        }
                    }
                }
            }
            .row2{
                height: 50px;
                .index_footer_social{
                    a {
                        margin: 5px;
                    }
                }
            }
            .row3{
                height: 100px;
                .index_footer_copyright{
                    height: 10px;
                    p {
                        color: white;
                    }
                }
            }
        }
    }
}
/* ABOUT HTML */
.about_gl{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(3, auto);
}
.masthead_about{
    grid-column: 1/10;
    height: 611px;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/about_background.jpg") no-repeat center center fixed;
    @include img_config(scroll);
    font-family: $gothic;
}
.about_content{
    @include flex-column-center-center;
    height: 100%;
    width: 100%;
}
.about_card_1, .about_card_2, .about_card_3, .about_card_4, .about_card_5, .about_card_6{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about_first_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
@media screen and (max-width: 992px){
    .masthead_about{
        height: 1370px;
    }

    .about_first_row{
        margin-bottom: -20px;
    }
    .about_first_row > *{
        margin-bottom: 20px;
    }
    .about_second_row{
        margin-top: 20px;
    }
    .about_second_row > *{
        margin-bottom: 20px;
    }
}
.footer_about{
    grid-column: 1/10;
    width: 100%;
    height: 450px;
}

/* FOOTER */
.footer{
    position: absolute;
    width: 100%;
    height: 287px;
    left: 0px;
    top: 2591px;

    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
.footer h1{
    position: absolute;
    width: 229px;
    height: 80px;
    left: 63px;
    top: 22px;

    font-family: $gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;

    color: $second_color;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer p{
    position: absolute;
    width: 264px;
    height: 25px;
    left: 62px;
    top: 119px;

    font-family: $gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;

    color: #FFFFFF;
}
/* OUR STAFF HTML */
.os_header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #212529 28.77%, #ADB5BD 100%);
    height: 611px;
}
.card1, .card2, .card3{
    @include flex-column-center-center;
}
.od_img{
    background-image: url('../media/meeting-of-developers.jpg');
    @include img_config(scroll);
    height: 225px;
}
.osd_img{
    background: url('../media/software\ develp.jpg');
    @include img_config(scroll);
    height: 225px;
}
.os_img{
    background: url('../media/service.jpg');
    @include img_config(scroll);
    height: 225px;
}
@media screen and (max-width: 991px){
    .os_header{
        height: 1300px;
    }
}
/* SUPPORT */
.support_gl{
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: repeat(3, auto);
    background-color: #00000000;
}
.masthead_support{
    grid-column: 1/9;
    grid-row: 100%;
    background: linear-gradient(90deg, #36569C 28.77%, #14213D 100%);
    height: 611px;
    display: flex;
    justify-content: center;
    align-items: center;


    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/john-schnobrich-FlPc9_VocJ4-unsplash (2).jpg") no-repeat center center fixed;

    @include img_config(scroll);
}
.footer_op_support{
    grid-column: 1/9;
}
.contact_main{
    @include flex-column-center-center;
    height: 65%;
    width: 25%;
    background-color: white;
    border-radius: 15px;
    box-shadow: $box_shadow;
}
.div_contact_form{
    margin: 15px;
}
.support_form_button{
    background-color: $second_color;
    border-color: rgba(5, 5, 5, 0.151);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease 0s;
}
.support_form_button:hover{
    background-color: $main_color;
}
.footer_op_support{
    width: 100%;
    height: 450px;

    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
/* MEDIA QUERY DE SUPPORT */
@media screen and (max-width:1162px){
    .support_navbar{
        grid-column: 1/9;
        grid-row: 1/1;
    }
    .masthead_support{
        grid-column: 1/9;
        grid-row: 2/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        height: 667px;

        background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/john-schnobrich-FlPc9_VocJ4-unsplash (2).jpg") no-repeat center center fixed;

        @include img_config(scroll);
    }
    .contact_main{
        margin-top: 10%;
        height: 75%;
        width: 55%;
    }
    .contact_img{
        display: none;
    }
    .footer_op_support{
        grid-column: 1/9;
        grid-row: 3/3;
        height: 200%;

    }
    
    
}
@media screen and (max-width: 900px){
    .support_navbar{
        grid-column: 1/9;
        grid-row: 1/1;
    }
    .masthead_support{
        grid-column: 1/9;
        grid-row: 1/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;

        background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/john-schnobrich-FlPc9_VocJ4-unsplash (2).jpg") no-repeat center center fixed;
    }
    .contact_main{
        height: 65%;
    }
    .footer_op_support{
        grid-column: 1/9;
        grid-row: 5/8;
    }
}
/* FOOTER one page*/
.footer_op{
    position: absolute;
    width: 100%;
    height: 287px;
    left: 0px;
    top: 720px;
    background: linear-gradient(93.14deg, #000000 1.42%, #FFFFFF 119.14%);
}
.footer_op h1{
    position: absolute;
    width: 229px;
    height: 80px;
    left: 63px;
    top: 22px;
    font-family: $gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;
    color: $second_color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer_op p{
    position: absolute;
    width: 264px;
    height: 25px;
    left: 62px;
    top: 119px;
    font-family: $gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
}
/* FAQ html */
.masthead_faq{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 611px;
    width: 100%;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../media/faq_background.jpg") no-repeat center center fixed;
    @include img_config(fixed);
    font-family: $gothic;
}
.faq_content{
    width: 70%;
}
.faq_content > *{
    margin: 15px;
}
.footer_op_faq{
    width: 100%;
    height: 450pxpx;
    z-index: 1;
}
.navbar-collapse, .question_1, .question_2, .question_3, .question_4, .question_5, .question_6{
    transition: all 0.5s ease 0s;
}
@media screen and (max-width: 991px){
    .masthead_faq{
        height: 890px;
    }
    .faq_content{
        width: 70%;
        margin-top: -100px;
    }
}
/* register.html */

.register_header{
    height: 667px;
    background: linear-gradient(-45deg, #133C55, #386FA4, #59A5D8, #84D2F6, #91E5F6);
    background-size: 400%, 400%;
    position: relative;
    animation: register_btn 5s ease-in-out infinite;
    font-family: "Roboto",sans-serif;
}
.register_title{
    margin-top: 15px;
    width: 20%;
    color: white;
    font-family: "Roboto", sans-serif;
    border: 4px solid white;
    text-shadow: $box_shadow;
    box-shadow: $box_shadow;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}
.register_title a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}
.register_form_section{
    @include flex-column-center-center;
}
.register_form_container{
    background: white;
    height: 520px;
    @include flex-column-center-center;
    border-radius: 50px;
    font-family: "Roboto",sans-serif;
    margin-top: -100px;
}
.register_form_container h1{
    margin-top: -40px;
    font-family: "Roboto",sans-serif;
}
.register_form{
    width: 70%;
    height: 70%;
    font-family: "Roboto",sans-serif;
}
.register_btn{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.register_btn:hover{
    background: linear-gradient(-45deg, #133C55, #386FA4, #59A5D8, #84D2F6, #91E5F6);
    background-size: 400%, 400%;
    position: relative;
    animation: register_btn 3s ease-in-out infinite;
    border: none;
}
.register_btn:active{
    background-color: #91E5F6;
}
@keyframes register_btn{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }

}
@media screen and (max-width:995px){
    .register_title{
        width: 35%;
    }
}
/* STORE */
.store_header{
    height: 603px;
    background-image: url(../media/e_commerce_bg_2.jpg);
    @include img_config(fixed);
    background-color: #FCFDFF;
    .top_store_title{
        font-family: 'Allura', cursive;
        font-size: xx-large;
        text-decoration: line-through;
        text-decoration-thickness: 1px;
        // top: 28%;
        padding-left: 1%;
        width: 100%;
    }
    .store_title{
        font-family: "Roboto", sans-serif;
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: 5px;
        padding-left: 1%;
        // position: absolute;
        // top: 30%;
    }
    .store_buttons{
        padding-left: 1%;
        width: 100%;
    }
    .hardware_store_button{
        width: 150px;
        height: 55px;
        margin-right: 15px;
        border: 2px solid black;
        border-radius: 50px;
        transition: all 0.1s ease-in-out 0s;
        background-color: #00000000;
        a {
            text-decoration: none;
            color: #212529;
        }
        &:hover {
            background-color: #212529;
            border-color: #212529;
            a {
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
    .software_store_button{
        width: 150px;
        height: 55px;
        border-radius: 50px;
        border: 2px solid #212529;
        transition: all 0.1s ease-in-out 0s;
        a {
            text-decoration: none;
            color: #FFFFFF;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0);
            a {
                color: #000000;
            }
        }
    }
}
/* STORE MAIN */
.store_main{
    height: 350vh;
    width: 100%;
    background-color: #FCFDFF;
    .store_card_container{
        display: flex;
        justify-content: center;
        justify-items: center;
        .store{
            margin: 0;
        }
    }
    .store_card{
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover{
            box-shadow: $box_shadow_cards;
        }
    }
    .card_button{
        background-color: rgb(0, 0, 0);
        border-color: #ffffff;
        color: #ffffff;
        &:hover{
            background-color: rgb(63, 63, 63);
            border-color: #ffffff;
            color: #ffffff;
        }
        &:active{
            background-color: rgb(255, 255, 255);
        border-color: #000000;
        color: #000000;
        }
    
    }
    .aside_store{
        background-color: #F7F8FA;
        height: 2412px;
        div {
            padding-left: 20px;
        }
    }
    .price_ranges{
        margin-top: 20px;
        h4 {
            font-family: $roboto;
        }
        a {
            font-family: $roboto;
            text-decoration: none;
            color: rgb(109, 109, 109);
            transition: $transition_02s;
        }
    
    }
    .price_ranges_500{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .price_ranges_500to1000{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .price_ranges_1000{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .condition{
        margin-top: 20px;
        transition: $transition_02s;
        h4{
            font-family: $roboto;
        }
        a {
            font-family: $roboto;
            text-decoration: none;
            color: rgb(109, 109, 109);
        }
    }
    .new{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .used{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .reviews{
        margin-top: 20px;
        h4 {
            font-family: $roboto;
        }
        a {
            font-family: $roboto;
            text-decoration: none;
            color: rgb(109, 109, 109);
            font-size: x-large;
            transition: $transition_02s;
        }
    }
    supreviews{
        font-size: large;
        font-family: $roboto;
    }
    .five_star{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .four_star{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .three_star{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .two_star{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .one_star{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .discounts{
        margin-top: 20px;
        h4 {
            font-family: $roboto;
        }
        a {
            font-family: $roboto;
            text-decoration: none;
            color: rgb(109, 109, 109);
            transition: $transition_02s;
        }
    }
    .percent_5{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_10{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_15{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_20{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_25{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_30{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_35{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_45{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_45{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_50{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    /* STORE MOBILE MENU */
    .price_ranges_mobile{
        margin-top: 20px;
        h4 {
            font-family: $roboto;
            color: white;
        }
        a {
            font-family: $roboto;
            text-decoration: none;
            color: rgb(255, 255, 255);
            transition: $transition_02s;
        }
    }
    .price_ranges_mobile_500{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .price_ranges_mobile_500to1000{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .price_ranges_mobile_1000{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .condition_mobile{
        margin-top: 20px;
        transition: $transition_02s;
        h4{
            font-family: $roboto;
            color: white;
        }
        a {
            font-family: $roboto;
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }
    .new_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .used_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .reviews_mobile{
        margin-top: 20px;
        h4 {
            font-family: $roboto;
            color: white;
        }
        a {
            font-family: $roboto;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: x-large;
            transition: $transition_02s;
        }
    }
    supreviews{
        font-size: large;
        font-family: $roboto;
    }
    .five_star_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .four_star_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .three_star_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .two_star_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .one_star_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .discounts_mobile{
        margin-top: 20px;
        h4 {
            font-family: $roboto;
            color: white;
        }
        a {
            font-family: $roboto;
            text-decoration: none;
            color: rgb(255, 255, 255);
            transition: $transition_02s;
        }
    }
    .percent_5_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_10_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_15_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_20_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_25_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_30_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_35_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_45_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_45_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    .percent_50_mobile{
        &:hover{
            color: #000000;
        }
        &:active{
            text-decoration: underline;
            text-decoration-color:rgb(0, 0, 0);
            text-decoration-thickness: 1px;
        }
    }
    #navbarToggleExternalContent{
        transition: all 1s ease 0s;
        z-index: 1;
    }
}
/* STORE MEDIA */
@media screen and (min-width:767px){
    .aside_store_menu{
        display: none;
        visibility: hidden;
    }
}
@media screen and (max-width:1199px){
    .store_main{
        height: 100%;
        background-color: #FCFDFF;
        
    }
    .aside_store{
        background-color: #F7F8FA;
        height: 5843px;
    }
    .store_section_container{
        background-color: #F7F8FA;
    }
    .store_card_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .store_card{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px){
    .aside_store{
        display: none;
    }
    .store_section{
        width: 100%;

    }
    .store_section_container{
        margin: 0;
    }
}
@media screen and (max-width: 420px){
    .store_header {
        .store_title {
            font-size: 350%;
        }
    }
}
// BUILDING A NEW PAGE
.building-header {
    h1 {
        font-family: "Inter", sans-serif;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
    .go-back-btn {
        z-index: 1;
        height: 50px;
        width: 10em;
        border-radius: 50px;
        border: 1px solid black;
        background-color: rgba(277, 277, 277, 0.3);
        backdrop-filter: blur(2px);
        transition: 0.2s ease;
        &:hover {
            background-color: white;
        }
    
    }
    .building-page-svg{
        position: absolute;
        height: 100vh;
        width: 100%;
    }
}